@charset "UTF-8";

@import url(./reset.css);
@import url(./common.css);

.ibx{
    
}

/* body{
    background: url(../img/bg1.jpg);
    background-repeat: no-repeat;
    background-position: top/cover;
} */

/* 상단 */
#top{
    position: fixed;
    width: 100%;
    height: 100px;
    outline: 1px dashed red;
    background-color: rgba(56, 56, 56, 0.849);
    z-index: 1;
}
/* #top::before{
    position: relative;
    content: '';
    display: block;
    width: 100%;
    height: 100px;
    background: #000;
    opacity: .;
} */

/* 로고 */
#top .logo{
    background-image: url(../img/nav_logo.png);
}
#gnb{
    position: absolute;
    bottom: 15px;
    left: calc(50% - 132px);
}


#gnb li{
    height: 62px;
    float: left;
    width: 102px;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    line-height: 80px;
    margin: 0px 15px;
    background: url(../img/navbtn.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 75%;
    background-position-y: 480%;
    transition: .3s;
}

#gnb li:hover {
    background-position-y: 0%;
    transition: .3s;
    
}

/* 메인 */
/* 섹션1 */
#sec1 {
    background: url(../img/bg1.jpg) no-repeat top/cover;
    

}
/* 섹션2 */
#sec2{

}

.wptitle{
    position: relative;
    width: 100%;
    height: 15%;
    outline: 1px dashed red;
    text-align: center;
    padding: auto;
}
.wptitle p{
    font-size: 70px;
    font-weight: bold;
    color: #fff;
    line-height: 170px;
}

.wpnav{
    position: relative;
    width: 100%;
    height: 7%;
    outline: 1px dashed blue;
}

.wpnav ul{
    display: flex;
    margin: 0 50px;
    height: 100%;
    text-align: center;
    align-items: center;
    
    
}

.wpnav li{
    flex: 1;
}

.wpnav img {
    max-height: 60%;
}

.wpnav li img:nth-child(2){
    display: none;;
}

.wpnav li:hover img:nth-child(2){
    display: inline;
}

.wpnav li:hover img:nth-child(1){
    display: none;
}


#screen{
    position: relative;
    top: 70px;
    margin: 0 auto;
    width: 790px;
    height: 495px;
    outline: 1px dashed purple;

}

/* 섹션3 */
#sec3{

}



/* 하단 */